.hero-unit
  %h2 Packers Season Tickets
  %p An average of 33 people move off of the list every year. If this trend continues I'll have season tickets to Lambeau Field when I'm 45 years old, 15 years from now.


.container
  %p My parents put #{link_to 'me', root_path} on the packers season tickets waiting list when I was born #{distance_of_time_in_words_to_now(Date.parse('May 31, 1980'))} ago. I still don't have tickets. So, when the post card arrived in the mail today informing me that I was number 480 on the list I thought I should share this journey.

  - @data_points.each do |name, data|
    %table.table.table-striped
      %caption= name
      %thead
        %tr
          %th Year
          %th Position
          %th Change
      %tbody
        - data.each_with_index do |year_data, i|
          %tr
            %td= year_data.first
            %td= year_data.last
            %td= i > 0 ? data[i-1].last - year_data.last : '&nbsp;'.html_safe

  %h3 News
  %p= link_to 'Fox 11 News -- Packers host Lambeau construction tour', 'http://www.fox11online.com/dpp/news/local/green_bay/packers-host-lambeau-construction-tour?ref=scroller&categoryId=10001&status=true'
  %p= link_to 'WBAY -- Construction Update', 'http://www.wbay.com/category/169373/video-landing-page?clipId=6612036&topVideoCatNo=14980&autoStart=true'
  %p= link_to 'Packers stock sale could start as early as Nov. 15 (NFL.com)', 'http://www.nfl.com/news/story/09000d5d823ee5c9/article/packers-stock-sale-could-start-as-early-as-nov-15'
  %p= link_to 'Expansion Planned for Lambeau (NY Times)', 'http://www.nytimes.com/2011/08/26/sports/football/green-bay-packers-announce-expansion-plan-for-lambeau-field.html'
  %p= link_to "Packers announce plans for Lambeau Field's south, north end zones (Packers.com)", 'http://www.packers.com/news-and-events/article-1/Packers-announce-plans-for-Lambeau-Fields-south-north-end-zones/1df5d407-10c0-43fd-b12b-e87a632a8c11'
  %p= link_to "Sunday's Best Co - Great Fitting Tees!", "http://www.sundaysbestco.com/"
