%h2 Radio Sync
%p Mute the TV announcers and listen to the local radio broadcast with no delay, for a beer.
%ol#app
  %li Connect radio to line-in/mic port.
  %li
    #ensure
      = button_tag 'Start', id: 'js_mute'
      Can you hear radio on computer's speakers?
    #ensure_error{style: 'display:none;'}
      Acess to the microphone was denied. You'll need to enable it in settings.
      %ul
        %li= link_to 'Chrome Instructions', 'https://support.google.com/chrome/answer/2693767?hl=en', target: '_blank'
        %li= link_to 'FireFox Instructions', 'https://support.discordapp.com/hc/en-us/articles/204392448-How-do-I-enable-my-mic-in-Firefox-', target: '_blank'
  %li.controls#checkout{data: {pass_id: @pass.try(:id)}}
    - if @pass
      Thanks! Pass valid until
      %span#pass_valid_until{data: {date: @pass.valid_until.to_s(:iso8601)}}
        = @pass.valid_until.to_s(:long)
    - else
      = stripe_checkout_form
  %li.controls
    Use slider to sync radio audio to game action on TV.
    %br
    #js_slider_container
      = range_field 'dude', 'bro', in: 0..30, step: 0.1, value: 0, id: 'js_range', disabled: true, style: 'width: 75%'
    #js_delay{style: 'display:none'} Realtime
  %li.controls Enjoy game!

#browser_not_supported{style: 'display:none;'}
  %p Bummer. Your browser doesn't have the audio features necessary for Radio Sync.
  %p But wait, <strong>there's still hope!</strong>
  %p
    The latest version of
    %a{href: 'https://www.google.com/intl/en/chrome/browser/desktop/index.html'} Google Chrome
    or
    %a{href: 'https://www.mozilla.org/en-US/firefox/new/'} Firefox
    should work great. You may even have one of these already installed.
  %p You'll also need to be on a desktop computer, mobile browsers currently don't support these features, unfortunately.
  %p
    Stop back with one of those browsers and you should be good to go.
