!!!
%html{lang: 'en'}
  %head
    %title= @page_title || "Chad Jolly - Ruby On Rails Developer in Denver, Colorado"
    %meta{:name => 'description', :content => @meta_description || 'Programmer, Packers Fan.'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag('application')
    = javascript_include_tag('application')
    = render 'layouts/analytics' if Rails.env.production?
  %body
    #main{role: 'main'}
      .container
        = yield
    %footer#footer
      .container
        %p.text-center &copy; Chad Jolly
        %ul.inline.text-center
          %li
            %a{:href => 'https://github.com/cjolly/chadjolly.com', :title => "This site's source code"} Source
          %li
            %a{:href => 'https://github.com/cjolly', :title => "Open Source Contributions"} Github
          %li
            %a{:href => 'https://twitter.com/chadjolly', :title => "Blathering"} Twitter
          %li
            %a{:href => 'https://www.facebook.com/chad.a.jolly', :title => "Keeping in touch with Mom"} Facebook
